@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
  --gradient1: linear-gradient(to bottom, #4d21c9 0%, rgba(77, 33, 201, 0) 100%);
  --gradient2: linear-gradient(to bottom, #7755ff, #2f2ce9);
  --navy950: #303b59;
  --navy200: #cac9ff;
  --navy50: #ecf2ff;
  --blue800: #1125d6;
  --blue50: #f3f4fd;
  --yellow400: #ffb21e;
  --yellow50: #fffbf4;
  --red400: #ff5555;
  --red50: #fff6f6;
  --green500: #00bb8f;
  --green50: #f2fcf9;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-navy950: var(--navy950);
  --color-navy200: var(--navy200);
  --color-navy50: var(--navy50);
  --color-blue800: var(--blue800);
  --color-blue50: var(--blue50);
  --color-yellow400: var(--yellow400);
  --color-yellow50: var(--yellow50);
  --color-red400: var(--red400);
  --color-red50: var(--red50);
  --color-green500: var(--green500);
  --color-green50: var(--green50);
  --background-image-red50: var(--red50);
  --background-image-navy950: var(--navy950);
  --background-image-gradient1: var(--gradient1);
  --background-image-gradient2: var(--gradient2);
  /* Text Preset 1 */
  --text-preset-1: 72px;
  --text-preset-1--line-height: 100%;
  --text-preset-1--font-weight: 800;

  /* Text Preset 2 */
  --text-preset-2: 56px;
  --text-preset-2--line-height: 100%;
  --text-preset-2--font-weight: 800;

  /* Text Preset 3 */
  --text-preset-3: 32px;
  --text-preset-3--line-height: 130%;
  --text-preset-3--font-weight: 700;

  /* Text Preset 4 */
  --text-preset-4: 24px;
  --text-preset-4--line-height: 130%;
  --text-preset-4--font-weight: 700;

  /* Text Preset 5 (Bold/Medium) */
  --text-preset-5-bold: 18px;
  --text-preset-5-bold--line-height: 130%;
  --text-preset-5-bold--font-weight: 700;

  --text-preset-5-medium: 18px;
  --text-preset-5-medium--line-height: 130%;
  --text-preset-5-medium--font-weight: 500;

  /* Text Preset 6 (Bold/Medium) */
  --text-preset-6-bold: 16px;
  --text-preset-6-bold--line-height: 130%;
  --text-preset-6-bold--font-weight: 700;

  --text-preset-6-medium: 16px;
  --text-preset-6-medium--line-height: 130%;
  --text-preset-6-medium--font-weight: 500;

  --font-hankenGrotesk: var(--font-hankenGrotesk), ui-sans-serif, system-ui, sans-serif;
  --spacing-0: 0px;
  --spacing-100: 8px;
  --spacing-200: 16px;
  --spacing-300: 24px;
  --spacing-400: 32px;
  --spacing-1000: 80px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  font-family: var(--font-hankenGrotesk);
}
